.serchleft{
	width: 258px;
	float: left;
	border: 1px solid #e5e5e5;
}
.serchleft p.title{
	margin-bottom: 20px;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #E5E5E5;
}
.serchleft p.title span.img{
	padding-right: 5px;
}
.serchleft p.title span.name{
	color: #17b4bb;
	font-size: 18px;
}
.serchleft ul{
	padding: 0 20px;
	margin-bottom: 20px;
}

.serchleft ul li.textbox{
	padding: 0 10px;
	width: 196px;
	height: 52px;
	margin-top: -3px;
	border: 1px solid #E5E5E5;
}
.serchleft ul li.textbox p.money{
	margin-top: 3px;
	color: #e93052;
	font-size: 18px;
}
.serchleft ul li.textbox p.text{
	color: #828282;
	font-size: 12px;
}

